<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <h2>Categorias</h2>
    <a href="/admin/categories/new" class="btn btn-success">Criar nova categoria</a>
    <hr>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Titulo</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => {%>
                <tr></tr>
                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th><%= category.slug %></th>
                    <th>
                        <form style="display: inline;" method="POST" action="/categories/delete" onsubmit="confirmarRemocao(event, this)">
                            <input type="hidden" name="id" value="<%= category.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                        <a class="btn btn-warning" href="/admin/categories/edit/<%= category.id %>">Editar</a>
                    </th>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>


<%- include ('../../partials/footer.ejs') %>
<script>
    function confirmarRemocao(event, form) {
        event.preventDefault()
        var decisao = confirm('Tem certeza que deseja deleter esta categoria?')

        if(decisao === true){
            form.submit()
        }
        
    }
</script>
